doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/style/base.css')
    title= locals.title


  body
    div.container
      div.page-purpose
        h1= locals.title
        small Page Purpose:
        div!= md(locals.pagePurpose)
      div.page-content!=md(locals.pageContent)